<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to example.com, <%= @member.member_name %></h1>

<p>
  Dear <%= @member.member_name %>, you are invited to <%= @project.name %> project, click the link to activate
  invitation.<br><br>
  <%= link_to 'Confirm', active_member_url(@project, @member) %><br><br>
  If you didn't request this, please ignore this email.

</p>

<p>Thanks for joining and have a great day!</p>
</body>
</html>